@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0D0D14;
  color: #F0F0FA;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
